body,html {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
}

.item-1 {
    width: 100px;
    height: 100px;
    position: absolute;
    background: #f00;
    top: 200px;
    left: 200px;
}

.item-2 {
    background: #0f0;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 350px;
    left: 400px;
}